<h1>Güle Güle</h1>

<ul>
    <li>
        <%= @degisken.id %>
    </li>
    <li>
        <%= @degisken.ad %>
    </li>
    <li>
        <%= @degisken.soyad %>
    </li>
    <li>
        <%= @degisken.email %>
    </li>
</ul>